@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Thin;
    src: url(../fonts/Montserrat-Thin.ttf);
}
@font-face {
    font-family: Playball;
    src: url(../fonts/Playball-Regular.ttf);
}